@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-primary: #13ec49;
  --color-brand-secondary: #103619;
  /* Define a new color variable namespace called 'brand' */
  --color-brand-dark: #102215;
  --color-brand-light: #ecfdf5;

  --color-second-dark: #1c2d20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #102215;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
